/* Custom Styling */

@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');
body {  

/* Fonts */

  font-family: 'Cousine', monospace !important;
  --font-default: 'Cousine', monospace !important;

  --code: rgb(255, 79, 0) !important; /* Int'l Orange HEX: #FF4F00 */
  --h1-color: rgb(255, 118, 57) !important;
  --h2-color: rgb(255, 118, 57) !important;
  --h3-color: rgb(255, 118, 57) !important;

  --color-p1: rgb(255, 79, 0);
  --color-p2: rgb(255, 118, 57);
  --color-p3: rgb(255, 157, 113);
  --text-accent: var(--color-p1) !important;

/* Graphs */

  --graph-node: var(--color-p2);
  --graph-node-unresolved: var(--color-p2);
  --graph-node-focused: var(--color-p1);
  --graph-line: var(--color-p3);

}

/* Hyperlinks */

a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
a:link {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
a:visited {
  color: rgb(255, 157, 113);
  text-decoration: none;
}
a:focus {
  color: #ff4f00;
  text-decoration: underline;
}
a:hover {
  color: #ff4f00;
  text-decoration: underline;
}
a:active {
  color: #ff4f00;
  text-decoration: underline;
}

/* Callout */

.callout.is-collapsible {
  border: none;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 13px;
}

/* Codeblock */

.markdown-preview-view code, .cm-s-obsidian span.cm-inline-code, .cm-s-obsidian pre.HyperMD-codeblock {
  color: var(--code);
}